.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  margin: 40px 10px;
  position: relative;
}
.list > div {
  max-width: 230px;
  transition: all ease 0.3s;
  border: 1px solid #4450a5;
}
.list > div:first-child:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: all ease 0.3s;
}

.list .list__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff7f2;
  color: #4450a5;
}

.list .list__id {
  position: absolute;
  top: -18px;
  background-color: white;
  padding: 4px 10px;
  color: #4450a5;
  border: 1px solid #4450a5;
  border-radius: 4px;
}

.list .list__fav {
  position: absolute;
  background-color: transparent;
  top: -4px;
  right: 10px;
  border: none;
  
}

.list .list__fav .MuiSvgIcon-root {
  font-size: 30px;
  color: #4450a5;
  cursor: pointer;
}

/* .list__favAdded .MuiSvgIcon-root {
    color: #4450a5;
} */
/* .list__myFav .MuiSvgIcon-root {
  font-size: 30px;
  color: #4450a5;
} */
/* .list__myFav .MuiSvgIcon-root:hover {
  cursor: pointer;
} */
.list .list__link {
  border:none;
}
.linkIcon {
  position: absolute;
  right: 0;
  color: #4450a5;
  bottom: 100px;
  right: -10px;
  font-size : 30px !important;
}