.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.login .MuiSvgIcon-root {
    font-size: 40px !important;
}

.login .login__input {
    flex-direction: column;
}