.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    flex-direction: column;
    width: 90%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
}
.login .MuiSvgIcon-root {
    color:white;
    font-size: 40px !important;
}

.login .login__input {
    flex-direction: column;
}

